.vs-dialog {
    min-width: 500px !important;
    &__content{
        height: 100% !important;
    }
}

.vs-dialog-content.blur{
    filter: none !important;

    .vs-dialog{
        &__header{
            padding-bottom: 0;
        }
        &__content{
            padding-bottom: 0;
            padding-top: 0;
        }
    }
}
